.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  text-align: center;
  width: 20%;
  background-color: red;
  min-height: 100px;
  max-height: 200px;
  border: 1px;
  border-radius: 5px;
}